@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&family=Roboto:wght@300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #2095ae;
}

body {
    background: #000000;
    font-family: 'Poppins', sans-serif;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    z-index: 10;
}

.logo {
    font-size: 40px;
    color: #ffffffff;
    letter-spacing: 1px;
    font-weight: 800;
}

.nav {
    display: flex;
}

.nav li {
    list-style: none;
    margin: 0 10px;
}

.nav li a {
    color: #ffffffff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
}

.nav li:hover a {
    color: var(--primary);
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url(../images/bg-home.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: 0.5s;
}

.banner::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 85%;
}

.content {
    position: relative;
    max-width: 500px;
    display: none;
    visibility: hidden;
    transform: scale(0);
    transition: 0.5s;
}

.content.active {
    display: block;
    visibility: visible;
    transform: scale(1);
    transition: 0.5s;
}

.banner .content h4 {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 3em;
}

.banner .content h4 span {
    padding: 0 5px;
}

.banner .content h4 span i {
    background: var(--primary);
    color: #ffffffff;
    padding: 0 8px;
    display: inline-block;
    border-radius: 2px;
}

.banner .content p {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5em;
    color: #ffffffff;
    margin: 10px 0 20px;
}

.button-mainpage .button {
    position: relative;
}

.button-mainpage .button a {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    background: var(--primary);
    color: #ffffffff;
    padding: 6px 20px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s;
    cursor: pointer;
}

.button-mainpage .button a:nth-child(2) {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.button-mainpage .button a:hover:nth-child(2) {
    background: var(--primary)
}

.banner .carousel-box {
    position: relative;
    min-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 10px;
}

.carousel {
    position: relative;
    height: 450px;
    perspective: 1500px;
}

.carousel .carousel-item {
    width: 250px;
    cursor: pointer;
}

.carousel .carousel-item img {
    max-width: 500px;
    border-radius: 10px;
    transform: translateX(8px) translateY(-85px);
    object-fit: cover;
    object-position: center;
}

.play {
    position: absolute;
    bottom: 50px;
    left: 100px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    color: #ffffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.2em;
    cursor: pointer !important;
    transition: 0.3s;
}

.play i {
    margin-right: 10px;
    font-size: 40px;
    cursor: pointer !important;
}

.play:hover {
    color: var(--primary);
}

.trailer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.trailer.active {
    visibility: visible;
    opacity: 1;
}

.trailer iframe {
    width: 896px;
    height: 504px;
}

.close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: invert(1);
    max-width: 30px;
}

@media only screen and (max-width: 640px) {
    header {
        padding: 30px 30px;
    }
    .nav {
        display: none;
    }
    .logo {
        font-size: 1.5em;
    }
    .search {
        padding-bottom: 45px;
        width: 130px;
        height: 40px;
    }
    .search input {
        left: -50px;
    }
    .search input::placeholder {
        font-size: 0.8em;
    }
    .search i {
        left: -50px;
    }
    .banner {
        padding: 250px 20px;
        min-height: 100vh;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .content {
        max-width: 350px;
    }
    .banner .content h4 {
        font-size: 20px;
    }
    .banner .content p {
        font-size: 0.8em;
    }
    .button-mainpage .button a {
        font-size: 0.8em;
        padding: 5px 10px;
    }
    .banner .carousel-box {
        margin-top: 10px;
        margin-bottom: 50px;
        min-width: 350px;
    }
    .carousel {
        height: 230px;
        perspective: 1000px;
    }
    .carousel .carousel-item {
        width: 130px;
    }
    .carousel .carousel-item img {
        transform: translateX(0px) translateY(3px);
    }
    .play {
        left: 70px;
        font-size: 0.6em;
    } 
    .play i {
        font-size: 30px;
    }
    .trailer iframe {
        width: 336px;
        height: 189px;
    }
}

@media only screen and (min-width: 768px) {
    header {
        padding: 30px 60px;
    }
    .logo {
        font-size: 1.5em;
    }
    .nav li a {
        font-size: 0.8em;
    }
    .search {
        padding-bottom: 45px;
        width: 150px;
        height: 40px;
    }
    .search input {
        left: -20px;
    }
    .search input::placeholder {
        font-size: 0.8em;
    }
    .search i {
        left: -10px;
    }
    .banner {
        padding: 0 50px;
    }
    .content {
        max-width: 290px;
    }
    .banner .content h4 {
        font-size: 20px;
    }
    .banner .content p {
        font-size: 0.8em;
    }
    .button-mainpage .button a {
        font-size: 0.8em;
        padding: 5px 10px;
    }
    .banner .carousel-box {
        min-width: 350px;
    }
    .carousel {
        height: 250px;
        perspective: 1000px;
    }
    .carousel .carousel-item {
        width: 140px;
    }
    .carousel .carousel-item img {
        transform: translateX(0px) translateY(-5px);
    }
    .play {
        font-size: 0.8em;
    } 
    .play i {
        font-size: 30px;
    }
    .trailer iframe {
        width: 560px;
        height: 315px;
    }
}

@media only screen and (min-width: 1024px) {
    header {
        padding: 30px 100px;
    }
    .nav li a {
        font-size: 1em;
    }
    .search {
        width: 220px;
        height: 40px;
    }
    .search input::placeholder {
        font-size: 1em;
    }
    .banner {
        padding: 0 70px;
    }
    .content {
        max-width: 400px;
    }
    .banner .content h4 {
        font-size: 2em;
    }
    .banner .content p {
        font-size: 1em;
    }
    .button-mainpage .button a {
        font-size: 1em;
    }
    .banner .carousel-box {
        min-width: 450px;
    }
    .carousel {
        height: 300px;
    }
    .carousel .carousel-item {
        width: 170px;
    }
    .carousel .carousel-item img {
        transform: translateX(0px) translateY(-25px);
    }
    .play {
        font-size: 1em;
    } 
    .trailer iframe {
        width: 720px;
        height: 396px;
    }
}

@media only screen and (min-width: 1080px) {
    .nav li a {
        font-size: 1em;
    }
    .banner .carousel-box {
        min-width: 500px;
    }
    .carousel {
        height: 300px;
    }
}

@media only screen and (min-width: 1280px) {
    .logo {
        font-size: 2em;
    }
    .nav li a {
        font-size: 1.2em;
    }
    .search {
        width: 250px;
    }
    .search input::placeholder {
        font-size: 1em;
    }
    .content {
        max-width: 520px;
    }
    .banner .content p {
        font-size: 1.2em;
    }
    .button-mainpage .button a {
        font-size: 1.2em;
    }
    .banner .carousel-box {
        min-width: 570px;
    }
    .carousel {
        height: 350px;
    }
    .carousel .carousel-item {
        width: 210px;
    }
    .carousel .carousel-item img {
        transform: translateX(0px) translateY(-55px);
    }
    .play i {
        font-size: 40px;
    }
}

@media only screen and (min-width: 1440px) {
    .logo {
        font-size: 2.4em;
    }
    .nav li a {
        font-size: 1.2em;
    }
    .search input::placeholder {
        font-size: 1.2em;
    }
    .content {
        max-width: 610px;
    }
    .banner .content h4 {
        font-size: 2.4em;
    }
    .banner .content p {
        font-size: 1.2em;
    }
    .button-mainpage .button a {
        font-size: 1.2em;
    }
    .banner .carousel-box {
        min-width: 650px;
    }
    .carousel {
        height: 350px;
    }
    .carousel .carousel-item {
        width: 210px;
    }
}